<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connexion</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.17/dist/tailwind.min.css">
</head>
<body class="bg-gray-200">
    <div class="container mx-auto max-w-md mt-12">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="{{ url_for('login') }}" method="POST">
            <h2 class="text-2xl mb-4">Connexion</h2>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mb-4 rounded relative" role="alert">
                    <strong class="font-bold">Erreur !</strong>
                    {% for message in messages %}
                    <span class="block sm:inline">{{ message }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="username">
                    Nom d'utilisateur
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Nom d'utilisateur" name="username" required>
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 font-bold mb-2" for="password">
                    Mot de passe
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="Mot de passe" name="password" required>
            </div>
            <div class="flex items-center mt-10">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Se connecter
                </button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-10" href="{{ url_for('register') }}" type="submit">
                    S'inscrire
                </button>
            </div>
        </form>
    </div>
</body>
</html>