<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Réinitialiser le mot de passe</title>
    <link rel="stylesheet" href="{{ cache_bust_url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.17/dist/tailwind.min.css') }}" />

</head>
<body class="bg-gray-800">
    <div class="container mx-auto max-w-md mt-20">
        <form class="bg-gray-900 shadow-lg shadow-gray-500/50 rounded px-8 pt-6 pb-8 mb-4" action="{{ url_for('reset_password') }}" method="POST">
            <h2 class="text-2xl text-white mb-4 font-bold">Réinitialiser le mot de passe</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {% if message.type == 'error' %}
                        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mb-4 rounded relative" role="alert">
                            <strong class="font-bold">Erreur !</strong>
                            <span class="block sm:inline">{{ message.message }}</span>
                        </div>
                        {% elif message.type == 'success' %}
                        <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 mb-4 rounded relative" role="alert">
                            <strong class="font-bold">Succès !</strong>
                            <span class="block sm:inline">{{ message.message }}</span>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="mb-4">
                <label class="block text-gray-400 font-bold mb-2" for="username">
                    Nom d'utilisateur
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Nom d'utilisateur" name="username" required>
            </div>
            <div class="mb-6">
                <label class="block text-gray-400 font-bold mb-2" for="email">
                    Adresse e-mail
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Adresse e-mail" name="email" required>
            </div>
            <div class="mb-6">
                <label class="block text-gray-400 font-bold mb-2" for="new_password">
                    Nouveau mot de passe
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="new_password" type="password" placeholder="Nouveau mot de passe" name="new_password" required>
            </div>
            <div class="mb-6">
                <label class="block text-gray-400 font-bold mb-2" for="confirm_password">
                    Confirmer le mot de passe
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="confirm_password" type="password" placeholder="Confirmer le mot de passe" name="confirm_password" required>
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-blue-800 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Réinitialiser le mot de passe
                </button>
                <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="{{ url_for('login') }}">
                  Se connecter
                </a>
            </div>
        </form>

    </div>
</body>
</html>